* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  width: 43rem;
  height: 20rem;
  border: 1px black solid;
  flex-wrap: wrap;

  /* justify-content: end; */
}
.right-box {
  padding: 1rem;
  width: 19rem;
  height: 15rem;
}
.left-box {
  padding: 1rem;
  width: 20rem;
  height: 15rem;
}
.middle-line {
  padding: 1rem;
  width: 3rem;
  height: 15rem;
}

.buttom-box {
  width: 43rem;
  height: 5rem;
}
