*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.container{
    position: relative;
    border: 1px black solid;
    width: 40rem;
    height: 20rem;
    margin: 10rem auto;
    /* display: flex; */
}
h1{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    left: 2rem;
    position: relative;
}
.left-box{
    position: absolute;
    /* margin: 20px 20px ; */
    left: 25rem;
    top: 3rem;
}
.left-box input[type="text"], .left-box input[type="password"] {
    
    display: block;
    margin-bottom: 20px;
    width: 12rem;
    height: 2rem;
    border: none;
    border-bottom: 1px black solid;


} 
::placeholder{
    position: relative;
    left: 3rem;
}
.fa-user{
    color: #706d6d;
    position: absolute;
    top: 3.4rem;
    left: 0.3rem;
    font-size: 2rem;
}
.fa-lock{
    color: #706d6d;
    position: absolute;
    top: 6.6rem;
    left: 0.3rem;
    font-size: 2rem;
}
span{
    border: 1px solid black;
    position: absolute;
    font-size: 2rem;
    left: 45%;
    top: 40%; 
    /* bottom: 50%;
    right: 50%;  */
    /* margin-top: 50%;
    margin-left: 50%; */
    text-align: center;
    justify-content: center;
    border-radius: 100%;
    padding: 1rem;
    opacity: .5;
    


}
span::after{
    content: "";
    border: 1px black solid;
    height: 5rem;
    position: absolute;
    background-color: black;
    left: 1.7000000000000002rem;
    bottom: -6rem;
    opacity: .5;
}
span::before{
    content: "";
    border: 1px black solid;
    height: 5rem;
    position: absolute;
    background-color: black;
    left: 1.7000000000000002rem;
    bottom: 6rem;
    opacity: .5;
}
